.breadcrumb {
    display: flex;
    margin-bottom: 25px;
    padding: 15px;
    background: var(--gray-50);
    border-radius: var(--border-radius);
    font-size: 1.1em;
}

.breadcrumb div {
    margin-right: 10px;
    padding-right: 15px;
    position: relative;
}

.breadcrumb div:not(:last-child)::after {
    content: "›";
    position: absolute;
    right: 0;
    color: #7f8c8d;
}

.breadcrumb .active {
    font-weight: bold;
    color: var(--primary-color);
}